<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'semantic-ui/semantic.min.css' %}">
    <script src="{% static 'jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>

    <style type="text/css">
        body {
          background-color: #DADADA;
        }
        body > .grid {
          height: 100%;
        }
        .column {
          max-width: 450px;
        }
    </style>

    {% block head %}

    {% endblock %}

</head>

<body>

    {% block body %}
    
    {% endblock %}
    
</body>

</html>